<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1> The Bob Rossifier </h1>
        <br>
        <form action="/rossified" method="post">
            <label for="link">Copy and paste your image link here:</label>
            <input type="text" name="link">
            <input type="submit" value="Rossify It!">
        </form>
            <br>
        <form action="/bobgif" method="post">
            <label for="link">Search for a gif here:</label>
            <input type="text" name="gif">
            <input type="submit" value="Rossify It!">
        </form>
        <br>
        <p>*concept by Katie Farrell*</p>
    </body>
</html>