<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <img src="<%=@url%>" class="userpic">
        <img src="images/bobross.png" class="mainpic">
    </body>
</html>